/* VARIABLES */
$color-primario: #1daf00;
$color-secundario: #ceff64;
$color-alternativo: #ffff46;

/* ESTRUCTURA */

.border {
    border: 3px solid #000;
}

.contenedor {
  display: flex;
  align-items: center;
  &-espacio {
    &-bordes {
      @extend .contenedor;
      @extend .border;
      justify-content: space-around;
    }
    &-interno {
      @extend .contenedor;
      justify-content: space-between;
    }
  }
}

/* COMPONENTES */

.button {
  width: 300px;
  height: 70px;
  margin: 10px;
  border: none;
  &-primario {
    @extend .button; 
    background-color: $color-primario;
  }
  &-secundario {
    @extend .button;
    background-color: $color-secundario;
  }
  &-alternativo {
    @extend .button;
    border: 3px solid $color-alternativo;
  }
}

button {
    border-radius: 10px;
    transition: all 0.5s linear;
    &:hover {
        cursor: pointer;
        border-bottom: 3px solid #000;
        transform: translateY(-5px);
    }
}


/* PROBAR SETEAR VARIABLES DE TAMAÑO */ 

/* AÑADIR OTRAS PROPIEDADES EN HOVER */

/* COMPILAR DESDE CERO OTRO ARCHIVO SCSS */