html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0;
    height: 15vh;
    /*VIEWPORT HEIGHT = ALTURA DEL VIEWPORT */
    background: rgb(220,130,226);
    background: linear-gradient(77deg, rgba(220,130,226,0.8827906162464986) 17%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div {
    display: flex;
    align-items: center;
    gap: 50px;
}

div h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.img-logo {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 1px solid #000;
}

.fa-bars {
    font-size: 2rem;
    display: none;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    list-style-type: none;
    /* VIEWPORT WIDTH = ANCHO DEL VIEWPORT */
}

li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
}

h3 {
    margin: 0;
}


main {
    display: flex;
    width: 100%;
    justify-content: center;
    /* PORCENTAJE REFIERE AL CONTENEDOR PADRE */
   flex-wrap: wrap;
}

article {
    width: 300px;
    min-width: 300px;
    height: 60vh;
    background-color: rgb(222, 184, 135);
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* FLEX WRAP - PROPIEDAD */
 }



 /* RESPONSIVE */ 
/* EN LAS MEDIA QUERIES */

/* MIN = A PARTIR DE */
/* MAX = HASTA */
@media (min-width: 300px) and (max-width: 899px) {
    nav {
        display: none;
     }
    
     .fa-bars {
        display:block;
     }
    
}

@media (min-width: 900px) and (max-width:1400px) {

}


