/* IMPORTS */ 
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.nunito {
    font-family: 'Nunito', sans-serif;
}

.fa-laptop-code {
    color: white;
    font-size: 36px;
}

/* ESTILO DEL HEADER */ 
.background-header {
    background-image: url('https://wallpaper.dog/large/20395011.jpg');
    background-size: cover;
    background-position: center center;
    
}

img {
    width: 100px;
    height: 100px;
}

nav ul {
    list-style-type: none;
    /* background-color: #000000; */
    
}

li {
    display: inline;
    background-color: #000;
}

li a {
    color:#FFF;
    text-decoration: none;
   
}


/* ESTILO DEL MAIN */ 

/*
    EL SELECTOR DE ETIQUETA TRAE TOOODAS LAS ETIQUETAS CON 
    ESE NOMBRE.
*/ 



.texto-home {
    font-family: 'Nunito', sans-serif;    
}

/* SELECTOR DE HIJO */ 



/* SELECTOR DE CLASE */





